* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

header div,
footer {
    background-color: #1f2937;
}

header div.htop-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px 0;
}

.htop-container > a {
    font-size: 24px;
    color: #f9faf8;
}

nav ul {
    display: flex;
    gap: 16px;
}

nav a {
    font-size: 18px;
    color: #e5e7eb;
}