* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

header div,
footer {
    background-color: #1f2937;
}

header div.htop-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 25%;
}

.htop-container > a {
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
}

nav ul {
    display: flex;
    gap: 16px;
}

nav a {
    font-size: 18px;
    color: #e5e7eb;
}

.htop-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    padding: 96px 25%;
}

.htop-main h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.htop-main p {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 12px;
}

.htop-main-left {
    flex: 1;
}

.htop-main-right {
    flex: 1;
    background-color: #6d747d;
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    color: #f9faf8;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 32px;
    background-color: #3882f6;
    border-radius: 8px;
    border: 0;
}

.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px 0;
    background-color: #fff;
}

.main-header h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937
}

main div ul {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin: 0 30%;
}

main div ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px;
}

.tile {
    width: 150px;
    height: 150px;
    border: 3px solid #3882f6;
    border-radius: 10px;
}

.main-section-tiles {
    margin-bottom: 96px;
}